In [1]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler ,OneHotEncoder
import matplotlib.pyplot as plt

In [2]:
df_train = pd.read_csv('../../ML/Credit Card Data/cc_train.csv')
df_test = pd.read_csv('../../ML/Credit Card Data/cc_test.csv')

In [3]:
df_train.head()

,LIMIT_BAL,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,...,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,GENDER,QUALIFICATION,MARRIED,defaulter,Id
0,290000.0,50,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,NaN,199.0,...,1440.0,1017.0,3798.0,4898,5034.0,FEMALE,2,1.0,0,1
1,20000.0,49,0.0,0.0,0.0,0.0,NaN,0.0,19773.0,18459.0,...,1270.0,633.0,655.0,759,547.0,FEMALE,2,3.0,1,2
2,230000.0,28,0.0,0.0,0.0,0.0,0.0,0.0,20356.0,21504.0,...,1700.0,2007.0,1000.0,1000,1000.0,FEMALE,1,2.0,0,3
3,210000.0,31,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,8600.0,0.0,...,4231.0,4221.0,4221.0,4483,4300.0,FEMALE,1,1.0,0,4
4,300000.0,24,-2.0,-2.0,-2.0,-2.0,-1.0,-1.0,-158.0,-158.0,...,0.0,0.0,300.0,100,100.0,MALE,2,2.0,0,5

In [4]:
df_train.corr()

,LIMIT_BAL,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,...,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,QUALIFICATION,MARRIED,defaulter,Id
LIMIT_BAL,1.000000,0.137748,-0.276055,-0.300095,-0.296499,-0.267546,-0.249794,-0.235333,0.288440,0.284777,...,0.197039,0.173581,0.218904,0.212352,0.213805,0.223018,-0.217072,-0.097432,-0.154300,-0.003940
AGE,0.137748,1.000000,-0.035835,-0.049781,-0.052982,-0.046915,-0.050213,-0.041151,0.053906,0.052764,...,0.022347,0.018831,0.030439,0.026633,0.016572,0.015033,0.184692,-0.405360,0.006791,0.007061
PAY_0,-0.276055,-0.035835,1.000000,0.675100,0.580023,0.546455,0.510677,0.478631,0.189936,0.183097,...,-0.084909,-0.067121,-0.069060,-0.063817,-0.060277,-0.069144,0.107692,0.018996,0.319989,0.008373
PAY_2,-0.300095,-0.049781,0.675100,1.000000,0.769313,0.665992,0.621542,0.573107,0.239224,0.232837,...,-0.082654,-0.058354,-0.056475,-0.047909,-0.040233,-0.045411,0.125623,0.023901,0.261595,-0.003800
PAY_3,-0.296499,-0.052982,0.580023,0.769313,1.000000,0.778121,0.682598,0.626213,0.209885,0.233013,...,0.007134,-0.062655,-0.055515,-0.046748,-0.039625,-0.040605,0.111496,0.036208,0.233804,0.004437
PAY_4,-0.267546,-0.046915,0.546455,0.665992,0.778121,1.000000,0.817094,0.711995,0.204541,0.224890,...,-0.010163,-0.002891,-0.071287,-0.045255,-0.033709,-0.030624,0.108576,0.030730,0.214653,-0.000129
PAY_5,-0.249794,-0.050213,0.510677,0.621542,0.682598,0.817094,1.000000,0.818354,0.209304,0.228451,...,-0.004948,-0.002587,0.009805,-0.057395,-0.034005,-0.028833,0.097997,0.031604,0.202384,0.006952
PAY_6,-0.235333,-0.041151,0.478631,0.573107,0.626213,0.711995,0.818354,1.000000,0.210646,0.230202,...,0.001125,-0.003159,0.005687,0.023987,-0.047023,-0.028682,0.083489,0.029071,0.182809,0.004516
BILL_AMT1,0.288440,0.053906,0.189936,0.239224,0.209885,0.204541,0.209304,0.210646,1.000000,0.955371,...,0.140508,0.095908,0.168881,0.150345,0.161509,0.174592,0.022012,-0.014600,-0.025087,0.001513
BILL_AMT2,0.284777,0.052764,0.183097,0.232837,0.233013,0.224890,0.228451,0.230202,0.955371,1.000000,...,0.290533,0.103574,0.182553,0.138608,0.152791,0.166383,0.016301,-0.012128,-0.026878,0.011178
BILL_AMT3,0.286163,0.049220,0.175349,0.221644,0.224946,0.244650,0.243394,0.245372,0.886187,0.915636,...,0.254213,0.362295,0.146647,0.145035,0.193166,0.179260,0.010807,-0.016619,-0.023272,0.010806
BILL_AMT4,0.297557,0.049710,0.175453,0.220081,0.224909,0.245877,0.274029,0.268864,0.858647,0.892674,...,0.240052,0.209831,0.315025,0.111345,0.159379,0.176834,-0.000376,-0.016810,-0.020788,0.012940
BILL_AMT5,0.301150,0.049011,0.176093,0.218689,0.222988,0.242040,0.271582,0.293618,0.823036,0.854997,...,0.219705,0.183123,0.278395,0.294845,0.139307,0.157485,-0.003344,-0.022622,-0.019756,0.007850
BILL_AMT6,0.290499,0.044336,0.172467,0.214972,0.218539,0.237333,0.263578,0.288356,0.796460,0.826092,...,0.207900,0.183048,0.256593,0.247834,0.311114,0.103335,-0.006865,-0.011621,-0.018142,0.013640
PAY_AMT1,0.197039,0.022347,-0.084909,-0.082654,0.007134,-0.010163,-0.004948,0.001125,0.140508,0.290533,...,1.000000,0.211038,0.185910,0.140191,0.164819,0.188100,-0.036924,-0.004142,-0.077448,0.000765
PAY_AMT2,0.173581,0.018831,-0.067121,-0.058354,-0.062655,-0.002891,-0.002587,-0.003159,0.095908,0.103574,...,0.211038,1.000000,0.160124,0.123256,0.216808,0.147543,-0.026052,-0.017515,-0.060157,0.000862
PAY_AMT3,0.218904,0.030439,-0.069060,-0.056475,-0.055515,-0.071287,0.009805,0.005687,0.168881,0.182553,...,0.185910,0.160124,1.000000,0.157805,0.162149,0.156251,-0.034542,-0.005873,-0.054480,0.006577
PAY_AMT4,0.212352,0.026633,-0.063817,-0.047909,-0.046748,-0.045255,-0.057395,0.023987,0.150345,0.138608,...,0.140191,0.123256,0.157805,1.000000,0.160233,0.134731,-0.031211,-0.024409,-0.062178,-0.010965
PAY_AMT5,0.213805,0.016572,-0.060277,-0.040233,-0.039625,-0.033709,-0.034005,-0.047023,0.161509,0.152791,...,0.164819,0.216808,0.162149,0.160233,1.000000,0.145395,-0.040862,0.004114,-0.055519,0.018555
PAY_AMT6,0.223018,0.015033,-0.069144,-0.045411,-0.040605,-0.030624,-0.028833,-0.028682,0.174592,0.166383,...,0.188100,0.147543,0.156251,0.134731,0.145395,1.000000,-0.043294,-0.001746,-0.057304,-0.011858
QUALIFICATION,-0.217072,0.184692,0.107692,0.125623,0.111496,0.108576,0.097997,0.083489,0.022012,0.016301,...,-0.036924,-0.026052,-0.034542,-0.031211,-0.040862,-0.043294,1.000000,-0.149590,0.030473,0.000744
MARRIED,-0.097432,-0.405360,0.018996,0.023901,0.036208,0.030730,0.031604,0.029071,-0.014600,-0.012128,...,-0.004142,-0.017515,-0.005873,-0.024409,0.004114,-0.001746,-0.149590,1.000000,-0.024117,-0.013390
defaulter,-0.154300,0.006791,0.319989,0.261595,0.233804,0.214653,0.202384,0.182809,-0.025087,-0.026878,...,-0.077448,-0.060157,-0.054480,-0.062178,-0.055519,-0.057304,0.030473,-0.024117,1.000000,0.006318
Id,-0.003940,0.007061,0.008373,-0.003800,0.004437,-0.000129,0.006952,0.004516,0.001513,0.011178,...,0.000765,0.000862,0.006577,-0.010965,0.018555,-0.011858,0.000744,-0.013390,0.006318,1.000000

In [5]:
df_test.head()

,LIMIT_BAL,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,...,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,GENDER,QUALIFICATION,MARRIED,Id
0,350000.0,31,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,951.0,601.0,...,605.0,716.0,263.0,900.0,1271,NaN,FEMALE,1,2.0,20001
1,10000.0,27,0.0,0.0,0.0,0.0,0.0,0.0,8907.0,6599.0,...,1500.0,1400.0,1000.0,1009.0,1000,1598.0,MALE,1,2.0,20002
2,350000.0,34,0.0,0.0,0.0,0.0,0.0,0.0,92134.0,120340.0,...,30000.0,NaN,5000.0,NaN,4000,5000.0,MALE,1,2.0,20003
3,20000.0,40,-1.0,-1.0,-1.0,-2.0,-1.0,-1.0,1925.0,500.0,...,500.0,0.0,0.0,6360.0,11220,0.0,FEMALE,1,1.0,20004
4,210000.0,39,1.0,-1.0,NaN,-1.0,-1.0,-1.0,0.0,650.0,...,650.0,325.0,325.0,325.0,325,325.0,MALE,2,1.0,20005

In [6]:
df_train.shape

(20000, 25)

In [7]:
df_test.shape

(5000, 24)

In [8]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   LIMIT_BAL      18700 non-null  float64
 1   AGE            20000 non-null  int64
 2   PAY_0          19344 non-null  float64
 3   PAY_2          18141 non-null  float64
 4   PAY_3          18751 non-null  float64
 5   PAY_4          19316 non-null  float64
 6   PAY_5          19323 non-null  float64
 7   PAY_6          18655 non-null  float64
 8   BILL_AMT1      18130 non-null  float64
 9   BILL_AMT2      18681 non-null  float64
 10  BILL_AMT3      19323 non-null  float64
 11  BILL_AMT4      20000 non-null  int64
 12  BILL_AMT5      19318 non-null  float64
 13  BILL_AMT6      20000 non-null  int64
 14  PAY_AMT1       18690 non-null  float64
 15  PAY_AMT2       18763 non-null  float64
 16  PAY_AMT3       18691 non-null  float64
 17  PAY_AMT4       19318 non-null  float64
 18  PAY_AMT5       20000 non-null  int64
 19  PAY_AMT6       19312 non-null  float64
 20  GENDER         20000 non-null  object
 21  QUALIFICATION  20000 non-null  int64
 22  MARRIED        18674 non-null  float64
 23  defaulter      20000 non-null  int64
 24  Id             20000 non-null  int64
dtypes: float64(17), int64(7), object(1)
memory usage: 3.8+ MB

In [9]:
df_train.describe

<bound method NDFrame.describe of        LIMIT_BAL  AGE  PAY_0  PAY_2  PAY_3  PAY_4  PAY_5  PAY_6  BILL_AMT1  \
0       290000.0   50   -1.0   -1.0   -1.0   -1.0   -1.0   -1.0        NaN
1        20000.0   49    0.0    0.0    0.0    0.0    NaN    0.0    19773.0
2       230000.0   28    0.0    0.0    0.0    0.0    0.0    0.0    20356.0
3       210000.0   31   -1.0   -1.0   -1.0   -1.0   -1.0   -1.0     8600.0
4       300000.0   24   -2.0   -2.0   -2.0   -2.0   -1.0   -1.0     -158.0
...          ...  ...    ...    ...    ...    ...    ...    ...        ...
19995   310000.0   45    0.0    0.0    0.0    NaN    0.0    0.0    91532.0
19996   180000.0   31    0.0    NaN    0.0    0.0    0.0    0.0    26000.0
19997   210000.0   22    0.0    0.0    0.0    0.0    0.0    0.0   142848.0
19998   200000.0   41    NaN    0.0    0.0    0.0    0.0    0.0   113570.0
19999    30000.0   35    2.0    2.0    2.0    2.0    0.0    0.0     8229.0

       BILL_AMT2  ...  PAY_AMT2  PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  \
0          199.0  ...    1440.0    1017.0    3798.0      4898    5034.0
1        18459.0  ...    1270.0     633.0     655.0       759     547.0
2        21504.0  ...    1700.0    2007.0    1000.0      1000    1000.0
3            0.0  ...    4231.0    4221.0    4221.0      4483    4300.0
4         -158.0  ...       0.0       0.0     300.0       100     100.0
...          ...  ...       ...       ...       ...       ...       ...
19995    93351.0  ...    4370.0    4000.0    5000.0      3899    3761.0
19996    26310.0  ...    1500.0    1056.0     950.0      1000       NaN
19997    94018.0  ...    4415.0    6000.0    3635.0      4000    5000.0
19998   113974.0  ...    5571.0    5221.0    4001.0      4001    4001.0
19999    11076.0  ...    1188.0       0.0     564.0       426     429.0

       GENDER  QUALIFICATION  MARRIED  defaulter     Id
0      FEMALE              2      1.0          0      1
1      FEMALE              2      3.0          1      2
2      FEMALE              1      2.0          0      3
3      FEMALE              1      1.0          0      4
4        MALE              2      2.0          0      5
...       ...            ...      ...        ...    ...
19995  FEMALE              1      1.0          0  19996
19996  FEMALE              2      1.0          0  19997
19997  FEMALE              2      1.0          0  19998
19998  FEMALE              3      1.0          0  19999
19999  FEMALE              2      1.0          0  20000

[20000 rows x 25 columns]>

In [10]:
df_train.isnull().sum()[df_train.isna().sum()>0]

LIMIT_BAL    1300
PAY_0         656
PAY_2        1859
PAY_3        1249
PAY_4         684
PAY_5         677
PAY_6        1345
BILL_AMT1    1870
BILL_AMT2    1319
BILL_AMT3     677
BILL_AMT5     682
PAY_AMT1     1310
PAY_AMT2     1237
PAY_AMT3     1309
PAY_AMT4      682
PAY_AMT6      688
MARRIED      1326
dtype: int64

In [11]:
df_test.isnull().sum()[df_test.isna().sum()>0]

LIMIT_BAL    320
PAY_0        164
PAY_2        465
PAY_3        328
PAY_4        169
PAY_5        171
PAY_6        299
BILL_AMT1    465
BILL_AMT2    318
BILL_AMT3    174
BILL_AMT5    161
PAY_AMT1     349
PAY_AMT2     302
PAY_AMT3     368
PAY_AMT4     161
PAY_AMT6     192
MARRIED      321
dtype: int64

In [12]:
columns_numeric=list(df_train.select_dtypes(exclude='object').columns)

In [13]:
print(columns_numeric)

['LIMIT_BAL', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'QUALIFICATION', 'MARRIED', 'defaulter', 'Id']

In [14]:
columns_numeric.remove('defaulter')
columns_numeric.remove('Id')

In [15]:
print(columns_numeric)

['LIMIT_BAL', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'QUALIFICATION', 'MARRIED']

In [16]:
columns_numeric_t=list(df_test.select_dtypes(exclude='object').columns)

In [17]:
print(columns_numeric_t)

['LIMIT_BAL', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'QUALIFICATION', 'MARRIED', 'Id']

In [18]:
columns_categorical=list(df_train.select_dtypes(include='object').columns)

In [19]:
print(columns_categorical)

['GENDER']

# Imputation

In [20]:
# Numeric Columns    # fill missing data
# train data
imputer_num =SimpleImputer(strategy='median')
imputer_num.fit(df_train[columns_numeric])
df_train[columns_numeric]=imputer_num.transform(df_train[columns_numeric])

# test Data
df_test[columns_numeric] = imputer_num.transform(df_test[columns_numeric])


# Categorical Columns
# train data
imputer_cat =SimpleImputer(strategy='most_frequent')
imputer_cat.fit(df_train[columns_categorical])
df_train[columns_categorical]=imputer_cat.transform(df_train[columns_categorical])

# test data
#df_test[columns_categorical] = imputer_num.transform(df_test[columns_categorical])
df_test[columns_categorical] = imputer_cat.transform(df_test[columns_categorical])

In [21]:
(df_train.isnull().sum()).sum()

0

In [22]:
(df_test.isnull().sum()).sum()

0

# Encoding

In [23]:
ohe=OneHotEncoder(handle_unknown = 'ignore') # convert categorical data to numeric formate
ohe.fit(df_train[columns_categorical])
temp = pd.DataFrame(data=ohe.transform(df_train[columns_categorical]).toarray(), columns=ohe.get_feature_names())

#ohe.fit(df_test[columns_categorical])
temp1 = pd.DataFrame(data=ohe.transform(df_test[columns_categorical]).toarray(),columns = ohe.get_feature_names())

columns_final =columns_numeric+ list(ohe.get_feature_names())
columns_final

C:\Users\HP\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
C:\Users\HP\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
C:\Users\HP\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['LIMIT_BAL',
 'AGE',
 'PAY_0',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'BILL_AMT1',
 'BILL_AMT2',
 'BILL_AMT3',
 'BILL_AMT4',
 'BILL_AMT5',
 'BILL_AMT6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6',
 'QUALIFICATION',
 'MARRIED',
 'x0_FEMALE',
 'x0_MALE']

In [24]:
df_train = pd.concat([df_train, temp], axis=1)
df_test = pd.concat([df_test, temp1], axis=1)

# Scaling

In [25]:
scaler = MinMaxScaler()
scaler.fit(df_train[columns_numeric])
df_train[columns_numeric]=scaler.transform(df_train[columns_numeric])

df_test[columns_numeric]=scaler.transform(df_test[columns_numeric])

In [26]:
# Model prediction

In [30]:
from sklearn.ensemble import RandomForestRegressor

In [33]:
model_RFR = RandomForestRegressor(random_state=15)
model_RFR.fit(df_train[columns_final],df_train['defaulter'])

RandomForestRegressor(random_state=15)

In [34]:
model_RFR.score(df_train[columns_final],df_train['defaulter'])

0.8852696886464345

In [35]:
 # Make predictions
yp = model_RFR.predict(df_test[columns_final])

In [36]:
df_submission =pd.DataFrame({'Id':df_test['Id'],'defaulter':yp}) # create dataframe

In [37]:
df_submission.to_csv('submission_RFR.csv',index=False) # to save csv formate